.quotes{
  padding: 8vw 14.7vw;


  img{
    width: auto;
    max-width: 100%;
  }

  .quote{
    margin-bottom: 40px;



    p{
      margin-top: 1vw;
      font-family: Montserrat, sans-serif;
      font-size: 20px;

      @media (max-width: 1300px) {
        font-size: 14px;
      }
    }
  }

  .quotes-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;

    @media (max-width: 768px){
      grid-template-columns: 1fr;
    }
  }
}