.anchor(id='press')
.quotes
    .flex-col.quotes-grid
        .flex-col.quote
            .q-img
                img(src='image/q-1.png' alt='quotes')
            p “Valet для настоящих дам и королей.”
        .flex-col.quote
            .q-img
                img(src='image/q-2.png' alt='quotes')
            p “Современные технологии достигли такого уровня, что высококачественный прототип будущего проекта однозначно определяет каждого участника.”
        .flex-col.quote
            .q-img
                img(src='image/q-3.png' alt='quotes')
            p “Есть над чем задуматься: многие известные личности указаны как претенденты на роль ключевых факторов. .”
        .flex-col.quote
            .q-img
                img(src='image/q-4.png' alt='quotes')
            p “Доступ ко всем видам автомобильных услуг в одном месте.”
        .flex-col.quote
            .q-img
                img(src='image/q-5.png' alt='quotes')
            p “Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта.”
        .flex-col.quote
            .q-img
                img(src='image/q-6.png' alt='quotes')
            p “Доступ ко всем видам автомобильных услуг в одном месте.”