.quotes2 {
  padding: 7vw 14vw;
  @media (max-width: 1300px) {
    padding: 7vw 6vw;
  }

  .quote {
    align-items: center;
    margin-bottom: 4vw;

    @media (max-width: 700px) {
      flex-direction: column;
    }
  }

  .person {
    margin-left: 1vw;

    @media (max-width: 700px) {
      margin-left: 0;
      margin-bottom: 40px;
    }
  }
  .mg-bottom {
    margin-bottom: 80px;
  }
  .p-rate {
    align-items: center;
    margin-top: 1vw;

    @media (max-width: 700px) {
      order: -1;
      align-self: center;
      margin-bottom: 10px;
      flex-direction: column;
    }

    img {
      margin-right: 8px;

      @media (max-width: 700px) {
        margin-bottom: 10px;
      }
    }
  }

  .p-quote {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 20px;
    @media (max-width: 1300px) {
      font-size: 14px;
    }
  }

  .p-name {
    font-family: ObjectSans, sans-serif;
    font-weight: 800;
    font-size: 16px;
    margin-top: 10px;
    margin-right: 5px;

    @media (max-width: 700px) {
      order: -1;
      text-align: center;
      margin-bottom: 10px;
    }
  }
}
