.anchor(id='reviews')
.quotes2.flex-col
    .quote.flex-row
        img(src='image/p1.png' alt='Лукин Артем,  Технорэд')
        .person.flex-col
            p.p-quote “Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта.”
            p.p-name Лукин Артем,  Технорэд
            .flex-row.p-rate
                img(src='image/c1.png')
                img(src='image/stars.png')
    .quote.flex-row
        img(src='image/p2.png' alt='Лукин Артем,  Технорэд')
        .person.flex-col
            p.p-quote “Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта.”
            p.p-name Лукин Артем,  Технорэд
            .flex-row.p-rate
                img(src='image/c2.png')
                img(src='image/stars.png')
    .quote.flex-row
        img(src='image/p3.png' alt='Лукин Артем,  Технорэд')
        .person.flex-col
            p.p-quote “Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта.”
            p.p-name Лукин Артем,  Технорэд
            .flex-row.p-rate
                img(src='image/c3.png')
                img(src='image/stars.png')
    .quote.flex-row
        img(src='image/p4.png' alt='Лукин Артем,  Технорэд')
        .person.flex-col
            p.p-quote “Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта.”
            p.p-name Лукин Артем,  Технорэд
            .flex-row.p-rate
                img(src='image/c4.png')
                img(src='image/stars.png')