.quotes2 {
  padding: 7vw 14vw;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  @media (max-width: 1300px) {
    padding: 7vw 6vw;
  }

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }

  .quote {

    margin-bottom: 4vw;

    @media (max-width: 700px) {
      flex-direction: column;
    }
  }

  .person {
    margin-left: 1vw;

    @media (max-width: 700px) {
      margin-left: 0;
      margin-bottom: 20px;
      justify-content: flex-start;
    }
  }

  .photo{
    height: 100px;
    width: 100px;
  }

  .company{
    margin-left: 16px;
    object-fit: contain;

    @media (max-width: 700px) {
      margin-bottom: 10px;
      height: 36px;
      margin-left: 0;
      width: fit-content;
    }
  }

  .p-rate {
    align-items: center;
    margin-top: 1vw;
    margin-bottom: 1vw;

    @media (max-width: 700px) {

      align-self: flex-start;
      margin-bottom: 10px;
      flex-direction: column;
    }

    img {
      margin-right: 8px;

    }
  }

  .p-quote {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 20px;
    @media (max-width: 1300px) {
      font-size: 14px;
    }
  }

  .p-name {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 10px;

    @media (max-width: 700px) {

      text-align: left;
      margin-bottom: 10px;
    }
  }
}
