.anchor(id='reviews')
.quotes2.flex-col
    .flex-row.mg-bottom
        .quote
            .person-name.flex-row
                img(src='image/p1.png' alt='Лукин Артем,  Технорэд')
                .person.flex-col
                    .flex-row.p-rate
                        p.p-name Лукин Артем, <br/> Технорэд
                        img(src='image/c1.png')
                    .flex-row.p-rate
                        img(src='image/stars.png')
            p.p-quote “Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта.”
        .quote
            .person-name.flex-row
                img(src='image/p2.png' alt='Лукин Артем,  Технорэд')
                .person.flex-col
                    .flex-row.p-rate
                        p.p-name Лукин Артем, <br/> Технорэд
                        img(src='image/c2.png')
                    .flex-row.p-rate
                        img(src='image/stars.png')
            p.p-quote “Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта.”
    .flex-row
        .quote
            .person-name.flex-row
                img(src='image/p3.png' alt='Лукин Артем,  Технорэд')
                .person.flex-col
                    .flex-row.p-rate
                        p.p-name Лукин Артем, <br/> Технорэд
                        img(src='image/c3.png')
                    .flex-row.p-rate
                        img(src='image/stars.png')
            p.p-quote “Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта.”
                
        .quote
            .person-name.flex-row
                img(src='image/p4.png' alt='Лукин Артем,  Технорэд')
                .person.flex-col
                    .flex-row.p-rate
                        p.p-name Лукин Артем, <br/> Технорэд
                        img(src='image/c4.png')
                    .flex-row.p-rate
                        img(src='image/stars.png')
            p.p-quote “Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта.”
            