.anchor(id='reviews')
.quotes2.flex-col
    .quote.flex-col
        .flex-row
            img(src='image/p1.png' alt='Лукин Артем,  Технорэд').photo
            .person.flex-col
                .flex-row.sm-col
                    p.p-name Лукин Артем,<br>  Технорэд
                    img(src='image/c1.png').company
                .flex-row.p-rate
                    img(src='image/stars.png')
        p.p-quote Перед приближением юбилея жены у меня был непростой период — предстояло 5 командировок и реорганизация некоторых бизнес-процессов моей компании.
    .quote.flex-col
        .flex-row
            img(src='image/p2.png' alt='Лукин Артем,  Технорэд').photo
            .person.flex-col
                .flex-row.sm-col
                    p.p-name Золотухин Валерий,<br> Impact Capital
                    img(src='image/c2.png').company
                .flex-row.p-rate

                    img(src='image/stars.png')
        p.p-quote Москва похорошела. Но проблема парковок на главных улицах все еще актуальна. Поэтому до начала сотрудничества с The Valet большинство деловых встреч в центре для меня становилось стрессом.
    .quote.flex-col
        .flex-row
            img(src='image/p3.png' alt='Лукин Артем,  Технорэд').photo
            .person.flex-col
                .flex-row.sm-col
                    p.p-name Артем Морозов,<br> Hansa
                    img(src='image/c3.png').company
                .flex-row.p-rate
                    img(src='image/stars.png')
        p.p-quote Качество — в деталях! С сервисом The Valet я убедился в этом на практике. Ведь, продуманный опционал сервиса позволяет освободить себя от многих рутинных дел.
    .quote.flex-col
        .flex-row
            img(src='image/p4.png' alt='Лукин Артем,  Технорэд').photo
            .person.flex-col
                .flex-row.sm-col
                    p.p-name Алексей Карпенко,<br> ГК ПИК
                    img(src='image/c4.png').company
                .flex-row.p-rate
                    img(src='image/stars.png')
        p.p-quote Мелкие аварии всегда оборачиваются огромным стрессом. Особенно, когда опаздываешь на встречу с инвестором. Хорошо, если в такой момент есть кому позвонить.