.popup
    .wrap
        form.layout
            h3 Страхование
            input(type='text' placeholder='ТЕЛЕФОН ИЛИ E-MAIL').text-input
            .accept-wrap.flex-row
                .flex-row.check
                    input(type='checkbox' id='accept').checkbox
                    p Я соглашаюсь с
                a(href='#') условиями обработки персональных данных
            button(type='submit') ОТПРАВИТЬ
            .close
                include ../../../static/image/close.svg
.popup2(id="popup1")
    .wrap
        form.layout
            h3 Персональная услуга
            textarea(name="comment",class="text-input", cols="40", rows="3", placeholder="Что для вас сделать?") 
            .accept-wrap.flex-row
                .flex-row.check
            button(type='submit') ОТПРАВИТЬ
            .close
                include ../../../static/image/close.svg