@font-face {
  font-family: Garamond Premier Pro;
  src: local('../fonts/GGP_regular'),
  url('../fonts/GPP_regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: Montserrat;
  src:  url('../fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src:  url('../fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src:  url('../fonts/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: GraphikLCG;
  src:  url('../fonts/GraphikLCG-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}



@font-face {
  font-family: ObjectSans;
  src:  url('../fonts/ObjectSans-Heavy.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
