.anchor(id='app')
.mobile-app.flex-row
    .text-block(style="flex: 3;").flex-col
        h2 автомобильная платформа “всё-в-одном”
        p Больше не нужно разбираться во всех вопросах, связанных с эксплуатацией и обновлением автомобилей.
        p Позвольте себе роскошь просто пользоваться!
    .picture(style="flex: 2;")
        img(src='image/m1.png' alt='app')