doctype html
html(lang="ru-RU")
    include ../blocks/head/head
    body
        include ../blocks/header/header
        include ../blocks/hero/hero
        include ../blocks/main-slider/main-slider
        include ../blocks/mobile-app/mobile-app
        include ../blocks/quotes/quotes
        include ../blocks/places/places
        include ../blocks/quotes2/quotes2
        include ../blocks/inst/inst


        include ../blocks/popup/popup

        img(src='image/footer.png' alt='Valet').f-bg
        include ../blocks/footer/footer