doctype html
html(lang="ru-RU")
    include ../blocks/head/head
    body
        include ../blocks/header/header
        include ../blocks/hero/hero
        include ../blocks/main-slider/main-slider
        include ../blocks/quotes/quotes
        include ../blocks/mobile-app/mobile-app
        include ../blocks/inst/inst
        include ../blocks/quotes2/quotes2
        include ../blocks/places/places
        include ../blocks/popup/popup


        include ../blocks/footer/footer