doctype html
html(lang="ru-RU")
    include ../blocks/head/head
    body
        include ../blocks/header/header

        .content
            a(href='/').back
                include ../../static/image/back.svg
            h1 УСЛОВИЯ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ

            .text-block.flex-col
                p Как уже неоднократно упомянуто, явные признаки победы институционализации неоднозначны и будут указаны как претенденты на роль ключевых факторов. Не следует, однако, забывать, что постоянный количественный рост и сфера нашей активности создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса форм воздействия. В своём стремлении повысить качество жизни, они забывают, что выбранный нами инновационный путь является качественно новой ступенью новых предложений.
            .text-block.flex-col
                p Как уже неоднократно упомянуто, явные признаки победы институционализации неоднозначны и будут указаны как претенденты на роль ключевых факторов. Не следует, однако, забывать, что постоянный количественный рост и сфера нашей активности создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса форм воздействия. В своём стремлении повысить качество жизни, они забывают, что выбранный нами инновационный путь является качественно новой ступенью новых предложений.


        include ../blocks/footer/footer