doctype html
html(lang="ru-RU")
    include ../blocks/head/head
    body
        include ../blocks/header/header

        .content.success
            a(href='/').back
                include ../../static/image/back.svg
            h1 СПАСИБО ЗА ОБРАЩЕНИЕ
            h2 МЫ СЕЙЧАС ЖЕ СВЯЖЕМСЯ С ВАМИ

        include ../blocks/footer/footer