.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -84px;
  background: white;
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 60px;

  @media (max-width: 1500px) {
    padding-bottom: 30px;
  }

  p {
    margin-top: 20px;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    text-decoration: none;
    @media (max-width: 1300px) {
      font-size: 12px;
      text-align: center;
    }
  }
  .images {
    position: relative;
    width: 100%;

    @media (max-width: 1300px) {
      height: 500px;
    }

    img{
      object-fit: cover;
      height: 100%;
    }

    @media (max-width: 700px) {
      margin-right: 0;
    }

    .hero-text {
      position: absolute;
      width: 30%;
      left: 7.5vw;
      bottom: 20%;

      p{
        color: white;
        font-size: 40px;
        font-family: Montserrat, sans-serif;
        font-weight: 300;

        @media (max-width: 1300px) {
          font-size: 24px;
          text-align: center;
        }

        @media (max-width: 768px) {
          font-size: 18px;
          text-align: center;
        }

        &.bold{
          font-weight: 500;
        }
      }
    }
  }

  .animated {
    transition: 0.5s;
    opacity: 0;
    transform: translateY(10px);

    &.active {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .flex-col img {
    width: 100%;
  }

}
