.anchor(id='main')
.hero
    .flex-col
        .flex-row.images
            .flex-col
                img(src='image/hero-1.jpg')
                img(src='image/hero-text.png').hero-text.animated
            .flex-col.second-pic
                img(src='image/hero-2.jpg')
        .flex-row
            p ПРОСТО ПОЛЬЗОВАТЬСЯ АВТОМОБИЛЕМ. ДЛЯ ОСТАЛЬНОГО ЕСТЬ THE VALET.
        //.anchor(id='partners')
        //.a-logos
        //    img(src='image/a-logo1.png')
        //    img(src='image/a-logo2.png')
        //    img(src='image/a-logo3.png')
        //    img(src='image/a-logo4.png')
        //    img(src='image/a-logo5.png')
        //    img(src='image/a-logo6.png')
        //    img(src='image/a-logo7.png')
        //    img(src='image/a-logo8.png')