.anchor(id='main')
.hero
    .flex-col
        .flex-col.images
            img(src='image/hero.png')
            .hero-text.animated
                p ПРОСТО ПОЛЬЗОВАТЬСЯ АВТОМОБИЛЕМ.
                p.bold ДЛЯ ОСТАЛЬНОГО ЕСТЬ THE VALET.