.anchor(id='places')
.max-1200px
    .places
        .card
            img(src='image/pl1.png' alt='Хамовники')
            .text
                h3 Хамовники
                p Обслуживается
        .card
            img(src='image/pl2.png' alt='якиманка')
            .text
                h3 якиманка
                p Скоро открытие
        .card
            img(src='image/pl3.png' alt='замоскворечье')
            .text
                h3 замоскворечье
                p Скоро открытие
        .card
            img(src='image/pl4.png' alt='тверской')
            .text
                h3 тверской
                p Скоро открытие
        .card
            img(src='image/pl5.png' alt='сити')
            .text
                h3 сити
                p Скоро открытие
        .card
            img(src='image/pl6.png' alt='арбат')
            .text
                h3 арбат
                p Скоро открытие
        //- .card
        //-     img(src='image/pl6.png' alt='арбат')
        //-     .text
        //-         h3 Санкт-Петербург
        //-         p Скоро открытие
        //- .card
        //-     img(src='image/pl6.png' alt='арбат')
        //-     .text
        //-         h3 Сочи
        //-         p Скоро открытие