footer


    .desktop.flex-row.center
        .flex-row
            .flex-col
                img(src='image/hero-text.png' alt='logo').logo
                .icons.flex-row

                    a(href='#').msg
                        include ./../../../static/image/msg.svg
                    a(href='#')
                        include ./../../../static/image/fb.svg
                    a(href='#')
                        include ./../../../static/image/inst.svg
            .flex-col
                .info.flex-col
                    a(href="#").phone +7 (495) 255 24 25

                    //.lang.flex-row
                    //    a Rus
                    //    a(href='#') Eng
                    a(href='#') Политика конфиденциальности
                    a(href='#') Часто задаваемые вопросы
                    p © 2021 The VALET. Все права защищены
        .flex-col
            .payment.flex-row
                img(src='image/pay1.png' alt='PayU')
                img(src='image/pay2.png' alt='MasterCard')
                img(src='image/pay3.png' alt='Visa')
                img(src='image/pay4.png' alt='МИР')

    .mobile.flex-row
        .payment.flex-row
            img(src='image/pay1.png' alt='PayU')
            img(src='image/pay2.png' alt='MasterCard')
            img(src='image/pay3.png' alt='Visa')
            img(src='image/pay4.png' alt='МИР')
        .info.flex-col
            //.lang.flex-row
            //    a Rus
            //    a(href='#') Eng
            a(href='#').link Часто задаваемые вопросы
            a(href='#').link Политика конфиденциальности

        .third.flex-col
            //- .store.flex-row
            //-     a(href="#")
            //-         img(src='image/store1.png' alt='App Store')
            //-     a(href="#")
            //-         img(src='image/store2.png' alt='Google Play')
            p © 2021 The VALET. Все права защищены

script(src='js/lib/jquery.min.js')
script(src='js/lib/swiper-bundle.min.js')
script(src='js/lib.min.js')