footer


    .desktop.flex-row.center
        .flex-row
            .flex-row.center
                a(href="/")
                    include ./../../../static/image/the valet logo.svg

            .flex-col
                .info.flex-col
                    a(href="#").phone +7 (495) 255 24 25

                    //.lang.flex-row
                    //    a Rus
                    //    a(href='#') Eng
                    a(href='#') Политика конфиденциальности
                    a(href='#') Часто задаваемые вопросы
                    p © 2021 The VALET. Все права защищены
        .flex-col
            .payment.flex-row
                include ./../../../static/image/pay1.svg
                include ./../../../static/image/pay2.svg
                include ./../../../static/image/pay3.svg
                include ./../../../static/image/pay4.svg

    .mobile.flex-row
        .payment.flex-row
            include ./../../../static/image/pay1.svg
            include ./../../../static/image/pay2.svg
            include ./../../../static/image/pay3.svg
            include ./../../../static/image/pay4.svg
        .info.flex-col
            //.lang.flex-row
            //    a Rus
            //    a(href='#') Eng
            a(href='#').link Часто задаваемые вопросы
            a(href='#').link Политика конфиденциальности

        .third.flex-col
            //- .store.flex-row
            //-     a(href="#")
            //-         img(src='image/store1.png' alt='App Store')
            //-     a(href="#")
            //-         img(src='image/store2.png' alt='Google Play')
            p © 2021 The VALET. Все права защищены

script(src='js/lib/jquery.min.js')
script(src='js/lib/swiper-bundle.min.js')
script(src='js/lib.min.js')