footer
    .desktop.flex-row
        .info.flex-row
            p © 2021 The VALET. Все права защищены
            //.lang.flex-row
            //    a Rus
            //    a(href='#') Eng
            a(href='#') Политика конфиденциальности
            a(href='#') Часто задаваемые вопросы
            .payment.flex-row
                img(src='image/pay1.png' alt='PayU')
                img(src='image/pay2.png' alt='MasterCard')
                img(src='image/pay3.png' alt='Visa')
                img(src='image/pay4.png' alt='МИР')
        .store.flex-row
            //- a(href="#")
            //-     img(src='image/store1.png' alt='App Store')
            //- a(href="#")
            //-     img(src='image/store2.png' alt='Google Play')
    .mobile.flex-row
        .payment.flex-row
            img(src='image/pay1.png' alt='PayU')
            img(src='image/pay2.png' alt='MasterCard')
            img(src='image/pay3.png' alt='Visa')
            img(src='image/pay4.png' alt='МИР')
        .info.flex-col
            //.lang.flex-row
            //    a Rus
            //    a(href='#') Eng
            a(href='#').link Часто задаваемые вопросы
            a(href='#').link Политика конфиденциальности

        .third.flex-col
            //- .store.flex-row
            //-     a(href="#")
            //-         img(src='image/store1.png' alt='App Store')
            //-     a(href="#")
            //-         img(src='image/store2.png' alt='Google Play')
            p © 2021 The VALET. Все права защищены

script(src='js/lib/jquery.min.js')
script(src='js/lib/swiper-bundle.min.js')
script(src='js/lib.min.js')