.anchor(id='instagram')
.inst.flex-col
    h2 #VALET.THE
    .inst-swiper.swiper
        .swiper-wrapper
            a(href="#").card.swiper-slide
                img(src='image/pl1.png' alt='instagram')
                .text
                    p @consultor
            a(href="#").card.swiper-slide
                img(src='image/pl1.png' alt='instagram')
                .text
                    p @consultor
            a(href="#").card.swiper-slide
                img(src='image/pl1.png' alt='instagram')
                .text
                    p @consultor
        .pagination