.anchor(id='instagram')
.inst.flex-col
    h2 #VALET.THE
    .inst-swiper.swiper
        .swiper-wrapper
            a(href="#").card.swiper-slide
                img(src='image/inst1.png' alt='instagram')
                .text
                    p @consultor
            a(href="#").card.swiper-slide
                img(src='image/inst2.png' alt='instagram')
                .text
                    p @principale
            a(href="#").card.swiper-slide
                img(src='image/inst3.png' alt='instagram')
                .text
                    p @rohnson
        .pagination