.anchor(id='service')
.main-slider
    .wrapper
        .card-container.swiper
            .swiper-wrapper
                .card.swiper-slide
                    img(src='image/car-1.png' alt='Valet-сервис')
                    h3 Valet-сервис
                    //- .line
                    ul.card-list
                        li.card-list__option Припарковать
                        li.card-list__option Доставить
                        li.card-list__option Заправить
                        li.card-list__option Помыть
                        li.card-list__option Отвезти питомца в вет-клинику
                        li.card-list__option Забрать вещи из химчистки
                        li.card-list__option Заехать в аптеку
                    //- .card-text
                    //-     p Современные технологии достигли такого уровня, что высококачественный прототип будущего проекта однозначно определяет каждого участника.

                    .card-selector
                        p Выберите услугу
                        //- include ../../../static/image/arrow.svg



                .card.swiper-slide
                    img(src='image/car-2.png' alt='Обслуживание и уход')
                    h3 обслуживание и уход
                    //- .line
                    ul.card-list
                        li.card-list__option Шиномонтаж и хранение
                        li.card-list__option Детейлинг
                        li.card-list__option Custom
                        li.card-list__option Ремонт
                        li.card-list__option Эвакуация
                    //- .card-text
                    //-     p Современные технологии достигли такого уровня, что высококачественный прототип будущего проекта однозначно определяет каждого участника.

                    .card-selector
                        p Выберите услугу
                        //- include ../../../static/image/arrow.svg

                .card.swiper-slide
                    img(src='image/car-3.png' alt='Купить/продать')
                    h3 Купить/продать
                    //- .line
                    ul.card-list
                        li.card-list__option Запчасти, шины, аксессуары
                        li.card-list__option Новый
                        li.card-list__option С пробегом
                        li.card-list__option Олдтаймеры
                        li.card-list__option Регистрация и учет
                        li.card-list__option Страхование
                        li.card-list__option Кредитование и лизинг
                        li.card-list__option Ломбард
                        li.card-list__option Выкуп

                    //- .card-text
                    //-     p Современные технологии достигли такого уровня, что высококачественный прототип будущего проекта однозначно определяет каждого участника.

                    .card-selector
                        p Выберите услугу
                        //- include ../../../static/image/arrow.svg

                .card.swiper-slide
                    img(src='image/car-4.png' alt='Развлечения и отдых')
                    h3 Развлечения и отдых
                    //- .line

                    ul.card-list
                        li.card-list__option Экспедиции
                        li.card-list__option Школа безаварийного вождения

                    //- .card-text
                    //-     p Современные технологии достигли такого уровня, что высококачественный прототип будущего проекта однозначно определяет каждого участника.

                    .card-selector
                        p Выберите услугу
                        //- include ../../../static/image/arrow.svg
                .card.swiper-slide
                    img(src='image/car-5.png')
                    h3 для бизнеса
                    //- .line
                    ul.card-list
                        li.card-list__option Улуга 1
                        li.card-list__option Улуга 2
                        li.card-list__option Улуга 3
                        li.card-list__option Улуга 4
                        li.card-list__option Улуга 5
                        li.card-list__option Улуга 6
                    //- .card-text
                    //-     p Современные технологии достигли такого уровня, что высококачественный прототип будущего проекта однозначно определяет каждого участника.
                    .card-selector
                        p Выберите услугу
                        //- include ../../../static/image/arrow.svg
            .navs
                .nav-prev
                    include ../../../static/image/arr-next.svg
                .pagination
                .nav-next
                    include ../../../static/image/arr-next.svg



