.anchor(id='service')
.main-slider
    .wrapper
        .card-container.swiper
            .swiper-wrapper
                .card.swiper-slide
                    img(src='image/car-1.png' alt='Valet-сервис')
                    h3 Valet-сервис
                    //- .line
                    .card-text
                        p Очевидные причины не заниматься рутиной
                    ul.card-list
                        li.card-list__option Паркинг
                        li.card-list__option Заправка
                        li.card-list__option Автомойка
                        li.card-list__option Доставка
                        li.card-list__option Хранение
                        li.card-list__option Личный помощник
                    //- .card-text
                    //-     p Очевидные причины не заниматься рутиной

                    .card-selector
                        p Выберите услугу
                        //- include ../../../static/image/arrow.svg



                .card.swiper-slide
                    img(src='image/car-2.png' alt='Обслуживание и уход')
                    h3 обслуживание и уход
                    //- .line
                    .card-text
                        p Лучшая версия Вашего авто
                    ul.card-list
                        li.card-list__option Шиномонтаж и хранение
                        li.card-list__option Детейлинг
                        li.card-list__option Техническое обслуживание
                        li.card-list__option Эвакуация
                    //- .card-text
                    //-     p Современные технологии достигли такого уровня, что высококачественный прототип будущего проекта однозначно определяет каждого участника.

                    .card-selector
                        p Выберите услугу
                        //- include ../../../static/image/arrow.svg

                .card.swiper-slide
                    img(src='image/car-3.png' alt='Купить/продать')
                    h3 Купить/продать
                    //- .line
                    .card-text
                        p Удовольствие от шоппинга
                    ul.card-list
                        li.card-list__option Новый автомобиль
                        li.card-list__option Автомобиль с пробегом
                        li.card-list__option Запчасти, шины, аксессуары
                        li.card-list__option Регистрация и учет
                        li.card-list__option Страхование
                        li.card-list__option Кредитование
                        li.card-list__option Автоломбард
                        li.card-list__option Выкуп
                    //- .card-text
                    //-     p Современные технологии достигли такого уровня, что высококачественный прототип будущего проекта однозначно определяет каждого участника.

                    .card-selector
                        p Выберите услугу
                        //- include ../../../static/image/arrow.svg

                .card.swiper-slide
                    img(src='image/car-5.png')
                    h3 бизнеса
                    //- .line
                    .card-text
                        p Делегируя делегировать
                    ul.card-list
                        li.card-list__option Техническое обслуживание
                        li.card-list__option Лизинг
                        li.card-list__option Страхование
                    //- .card-text
                    //-     p Современные технологии достигли такого уровня, что высококачественный прототип будущего проекта однозначно определяет каждого участника.
                    .card-selector
                        p Выберите услугу
                        //- include ../../../static/image/arrow.svg
                .card.swiper-slide
                    img(src='image/car-4.png' alt='Развлечения и отдых')
                    h3 Развлечения и отдых
                    //- .line
                    .card-text
                        p Открывая новые возможности
                    ul.card-list
                        li.card-list__option Экспедиции
                        li.card-list__option Школа безаварийного вождения

                    //- .card-text
                    //-     p Современные технологии достигли такого уровня, что высококачественный прототип будущего проекта однозначно определяет каждого участника.

                    .card-selector
                        p Выберите услугу
                        //- include ../../../static/image/arrow.svg
                .card.swiper-slide
                    img(src='image/car-6.png' alt='Развлечения и отдых')
                    h3 Добавить услугу
                    //- .line
                    .card-text
                        p Игра по Вашим правилам
                    ul.card-list
                        li.card-list__option Добавьте собственную услугу в The Valet
                    button(type="submit" class="button-card" rel="popup1")
                        p Добавить услугу
                        //- include ../../../static/image/arrow.svg
            .navs
                .nav-prev
                    include ../../../static/image/arr-next.svg
                .pagination
                .nav-next
                    include ../../../static/image/arr-next.svg



