header
    .header-wrap
        .mobile1
        .logo
            a(href="/")
                include ./../../../static/image/the valet logo.svg
        .mobile
            .burger
                .line1
                .line2
                .line3
            .bg
                .layout
                    .links
                        a(href='#main') Главная
                        a(href='#service') Услуги
                        a(href='#partners') Партнеры
                        //- a(href='#press') Пресса
                        a(href='#app') Приложение
                        a(href='#reviews') Отзывы
                        a(href='#places') Районы
                    a(href="#").phone +7 (495) 255 24 25
                    .socials
                        .msg-links
                            a(href='#') WHAT'SAPP
                            a(href='#') TELEGRAM
                        a(href='#').msg
                            include ./../../../static/image/msg.svg
                        a(href='#')
                            include ./../../../static/image/fb.svg
                        a(href='#')
                            include ./../../../static/image/inst2.svg


        .desktop
            .nav-links
                a(href='#main') Главная
                a(href='#service') Услуги
                a(href='#partners') Партнеры
                //- a(href='#press') Пресса
                a(href='#app') Приложение
                a(href='#reviews') Отзывы
                a(href='#places') Районы
                a(href="#").phone +7 (495) 255 24 25

                .socials
                    .icons
                        .msg-links
                            a(href='#') WHAT'SAPP
                            a(href='#') TELEGRAM
                        a(href='#').msg
                            include ./../../../static/image/msg.svg
                        a(href='#')
                            include ./../../../static/image/fb.svg
                        a(href='#')
                            include ./../../../static/image/inst.svg